<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>JBoss Rules BRMS</display-name>

    <filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.web.ContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>

    <!-- servlets - mostly to do with file management -->
	<servlet>
		<servlet-name>GWTRemotingServlet</servlet-name>
		<servlet-class>org.jboss.seam.remoting.gwt.GWTRemoteServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssetFileServlet</servlet-name>
		<servlet-class>org.drools.brms.server.files.AssetFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PackageDeploymentServlet</servlet-name>
		<servlet-class>org.drools.brms.server.files.PackageDeploymentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RepositoryBackupServlet</servlet-name>
		<servlet-class>org.drools.brms.server.files.RepositoryBackupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WebdavServlet</servlet-name>
		<servlet-class>net.sf.webdav.WebdavServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GWTRemotingServlet</servlet-name>
		<url-pattern>/org.drools.brms.JBRMS/jbrmsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssetFileServlet</servlet-name>
		<url-pattern>/org.drools.brms.JBRMS/asset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PackageDeploymentServlet</servlet-name>
		<url-pattern>/org.drools.brms.JBRMS/package/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepositoryBackupServlet</servlet-name>
		<url-pattern>/org.drools.brms.JBRMS/backup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebdavServlet</servlet-name>
		<url-pattern>/org.drools.brms.JBRMS/webdav</url-pattern>
	</servlet-mapping>

    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>


</web-app>
