<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <!-- End of Errai exclusions -->

    <exclude name="org.guvnor.client.**"/>
    <exclude name="org.guvnor.asset.management.client.**"/>
    <exclude name="org.guvnor.common.services.workingset.client.**"/>
    <exclude name="org.guvnor.common.services.project.client.**"/>
    <exclude name="org.guvnor.structure.client.**"/>
    <exclude name="org.guvnor.messageconsole.client.**"/>
    <exclude name="org.guvnor.organizationalunit.manager.client.**"/>
    <exclude name="org.guvnor.inbox.client.**"/>
    <exclude name="org.guvnor.m2repo.client.**"/>
  </scan>
</beans>
