@CHARSET "UTF-8";

/* CellTable body */
@def rowHeight  24px ;
@def rowHeaderHeight  24px ;
@def rowHeaderSorterHeight  16px ;
@def rowHeaderSplitterHeight  8px ;
@def sidebarWidth  48px ;
@def borderWidth  1px ;
@def borderWidthThick  2px ;
    
.cellTable {
    cursor: default;
    table-layout: fixed;
    padding: 0px;
    margin: 0px;
}

.cellTableCell {
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
    outline: none;
    border-right: borderWidth dotted grey;
}

.cellTableCellSelected {
    background-color: #b9b9b9;
}

.cellTableCellMultipleValues {
    background-color: orange;
}

.cellTableCellOtherwise {
    background-color: #60f070;
}

.cellTableCell:HOVER {
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
    outline: none;
    background-color: #ffff99;
}

.cellTableCellDiv {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.cellTableGroupDiv {
    position: absolute;
}

.cellTableTextDiv {
    position: absolute;
    overflow: hidden;
    text-align: center;
}

.cellTableEvenRow {
    background: #e0ffff;
}

.cellTableOddRow {
    background: #add8e6;
}

/* Header */
.headerRowBottom {
    border-bottom: borderWidthThick solid grey;
    border-right: borderWidth dotted grey;
}

.headerRowIntermediate {
    border-bottom: borderWidth solid grey;
    border-right: borderWidth dotted grey;
}

.headerText {
    font-size: 8pt;
    text-align: center;
    color: #4B4A4A;
    text-shadow: 1px 1px 0 #DDDDFF;
    border-right: borderWidth dotted grey;
}

.headerSplitter {
    height: 8px;
    background-color: #a0a0a0;
    border-right: borderWidth dotted grey;
}

.headerResizer {
    top: 0px;
    left: 0px;
    z-index: 100000;
    width: 2px;
    background-color: #a0a0a0;
    visibility: hidden;
    position: absolute;
    cursor: col-resize;
}

.selectorSpacer {
    width: sidebarWidth;
    border-bottom: borderWidthThick solid grey;
    border-right: borderWidth solid grey;
}

.selectorSpacerOuterDiv {
    position: relative;
}

.selectorSpacerInnerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
}

.selectorCell {
    width: sidebarWidth;
    text-align: center;
    border-right: borderWidth solid grey;
}