@CHARSET "UTF-8";

/* CellTable body */
@def rowHeight  24px ;
@def rowHeaderHeight  24px ;
@def rowHeaderSorterHeight  16px ;
@def rowHeaderSplitterHeight  8px ;
@def sidebarWidth  48px ;
@def borderWidth  1px ;

.cellTable {
    cursor: default;
    table-layout: fixed;
    padding: 0px;
    margin: 0px;
}

.cellTableCell {
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
    text-align: center;
    outline: none;
    border-bottom: borderWidth solid #C8C8C8;
    border-right: 1px dotted grey;
}

.cellTableCellSelected {
    padding: 0px;
    margin: 0px;
    text-align: center;
    outline: none;
    border-bottom: borderWidth solid #b9b9b9;
    background-color: #b9b9b9;
}

.cellTableCellMultipleValues {
    background-color: #e09090;
}

.cellTableCell:HOVER {
    padding: 0px;
    margin: 0px;
    text-align: center;
    outline: none;
    border-bottom: borderWidth solid #C8C8C8;
    background-color: #ffff99;
}

.cellTableCellDiv {
    position: relative;
    height: 100%;
}

.cellTableGroupDiv {
    position: absolute;
}

.cellTableTextDiv {
    height: 100%;
    width: 100%;
    position: absolute;
}

.cellTableEvenRow {
    background: #f8f8f8;
}

.cellTableOddRow {
    background: #fcfcfc;
}

/* Header */
.headerRowBottom {
    border-bottom: 2px solid grey;
    border-right: 1px dotted grey;
}

.headerRowIntermediate {
    border-bottom: 1px solid grey;
    border-right: 1px dotted grey;
}

.headerText {
    font-size: 8pt;
    text-align: center;
    color: #4B4A4A;
    text-shadow: 1px 1px 0 #DDDDFF;
    border-right: 1px dotted grey;
}

.headerSplitter {
    height: 8px;
    background-color: #a0a0a0;
    border-right: 1px dotted grey;
}

.headerResizer {
    top: 0px;
    left: 0px;
    z-index: 100000;
    width: 2px;
    background-color: #a0a0a0;
    visibility: hidden;
    position: absolute;
    cursor: col-resize;
}

.selectorSpacer {
    width: sidebarWidth;
    border-bottom: 2px solid grey;
    border-right: 1px solid grey;
}

.selectorCell {
    width: sidebarWidth;
    text-align: center;
    border-right: 1px solid grey;
    border-bottom: borderWidth solid #C8C8C8;
}