            <drools:resource @if{kbase.assetsUser != null}basic-authentication="enabled" username="@{kbase.assetsUser}" password="@{kbase.assetsPassword}" @end{}type="@{resource.resourceFormat}" source="@{resource.url}"/>
