@CHARSET "UTF-8";

/* CellTable body */
@def rowHeight 24px;
@def rowHeaderHeight 24px;
@def rowHeaderSorterHeight 16px;
@def rowHeaderSplitterHeight 8px;
@def spacerHeight 48px;
@def spacerWidth 32px;
	
.cellTable {
	cursor: default;
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}

.cellTableCell {
	padding: 0px;
	margin: 0px;
	font-size: 8pt;
	text-align: center;
	outline: none;
	border-bottom: 1px solid #C8C8C8;
}

.cellTableCellSelected {
	padding: 0px;
	margin: 0px;
	text-align: center;
	outline: none;
	border-bottom: 1px solid #C8C8C8;
	background-color: green;
}

.cellTableCell:HOVER {
	padding: 0px;
	margin: 0px;
	text-align: center;
	outline: none;
	border-bottom: 1px solid #C8C8C8;
	background-color: #ffff99;
}

.cellTableCellDiv {
	overflow: hidden;
}

.cellTableEvenRow {
	background: #f8f8f8;
}

.cellTableOddRow {
	background: #fcfcfc;
}

/* Header */
.headerRowBottom {
	border-bottom: 2px solid grey;
}

.headerRowIntermediate {
	border-bottom: 1px solid grey;
}

.headerText {
	font-size: 8pt;
	text-align: center;
	color: #4B4A4A;
	text-shadow: 1px 1px 0 #DDDDFF;
}

.headerSplitter {
	height: 8px;
	background-color: #ffff99;
}

.spacer {
	width: spacerWidth;
	height: spacerHeight;
	border-bottom: 2px solid grey;
	border-right: 1px solid grey;
}

.selectorAddCell {
	width: spacerWidth;
	text-align: center;
	border-bottom: 1px solid #C8C8C8;
}

.selectorDeleteCell {
	width: spacerWidth;
	text-align: center;
	border-right: 1px solid grey;
	border-bottom: 1px solid #C8C8C8;
}

.selectorControl {
	display: inline;
}

@sprite .selectorAddImage {
	gwt-image: "selectorAdd";
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

@sprite .selectorAddImage:HOVER {
	gwt-image: "selectorAddHover";
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

@sprite .selectorDeleteImage {
	gwt-image: "selectorDelete";
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

@sprite .selectorDeleteImage:HOVER {
	gwt-image: "selectorDeleteHover";
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.selectorToggle {
	text-align: center;
}