/* Edited with EditCSS */
/**** LINK-tag style sheet JBRMS.css ****/

/*
 * NOTICE: 
 * Uses some icons from Tango Desktop Project: http://tango.freedesktop.org/Tango_Icon_Library
 * Kudos to Tango for their coolness !
 */

body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.headerBarGrey {
	background-image: url(images/jbossrules_hdrbkg_grey.gif);
	background-repeat: repeat-x;
	height:70px;
}

.headerBarBlue {
	background-image: url(images/jbossrules_hdrbkg_blue.gif);
	background-repeat: repeat-x;
	height:70px;
}


.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #aaaa99;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #aaaa99;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}


.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #aaaa99;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #aaaa99;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Label {
  font-size: smaller;
}

/* List boxes */
select{ border: 1px solid #ccc; padding:0px !important;border-color:#ccc !important; color:#666;}
select:focus{ border-color:black !important; color: black;}

.gwt-MenuBar {
  background-color: #aaaa99;
  border: 1px solid #aaaa99;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #f6f6f6;
}

.gwt-RadioButton {
  font-size: smaller;
}


.model-builder-Background {
  background-color: #f7f2d0;
  border: 1px solid #ccc;
}

.model-builderInner-Background {
	background-color: white;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

.model-builderInnerInner-Background {
        background-color: white;
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
}

.modeller-fact-TypeHeader {
	background-color: #f6f6f6;
}

.modeller-fact-pattern-Widget {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.modeller-composite-Label { font-style: italic; }

.modeller-action-Label { font-style: italic; font-size: smaller; }

.gwt-DialogBox { 
	border: 1px solid #aaaa99;
}
.gwt-DialogBox .Caption {  
	background-color: #f7f2d0;
	font-size: smaller;
}

.version-Popup {
	background-color: white;
	border: 1px solid #aaaa99;
}

.version-Popup .Caption {
  background-color: #aaaa99;
  font-color: white;
  font-weight: pointer
}


.gwt-TabBar {
  background-color: #aaaa99;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {

  margin:0em; padding:0em; width:0em; 
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #aaaa99;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border: 1px solid #aaaa99;
  padding: .5em 1em;
  cursor: pointer; color:white;
}


hr{border-collapse; border-style:none; border-bottom: 1px dotted #ccc;}
.gwt-TabBar .gwt-TabBarItem-selected {
  background-color: #f6f6f6;
margin:0em;
  border-bottom: 0px solid #aaaa99;
  cursor: url;
  padding: .5em 1em;
border:0px transparent none;
}
.gwt-TabBarItem-selected{color:black !important;}


input{ padding:2px !important;border-color:#ccc !important; border: 1px solid #aaaa99; color:#666;}
input:focus, input:active{ border-color:black !important; color: black;}

.gwt-TextArea {
  border: 1px solid #aaaa99;
  padding: 0px;
}

.constraint-value-Editor {
	padding:2px !important;border-color:#ccc !important; border: 1px solid #aaaa99; color:#666;
}

.constraint-value-Editor:focus, .constraint-value-Editor:active {
	border-color:black !important; color: black;
}


.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.small-Text {font-size: smaller;}
.weak-Text {font-size: smaller; color: #ccc;}


.gwt-Tree .gwt-TreeItem-selected {
  background-color: yellow;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #aaaa99;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.global-Font {
	font-size: smaller;
}


/* -------------------------------------------------------------------------- */

/* -- orig border: #C3D9FF  replaced with #aaaa99 
  orig background: #E8EEF7 replaced with #f6f6f6 -- */
.ks-Sink {
  border: 4px solid #aaaa99;
  background-color: #f6f6f6;
  width: 100%;
  height: 24em;
  font-size: smaller;
}

.ks-Info {
  background-color: #aaaa99;
  padding: 10px 10px 2px 10px;
  font-size: x-small !important;
}

.ks-List {
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-info{color:white;}
.ks-List a:link,
.ks-List a:visited{text-decoration:none; color: #555; font-weight:bold; padding-left:0.5em;}

.ks-List .ks-SinkItem-selected a{color:white;}


.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #aaaa99;
}


.ks-layouts-Label {
  background-color: #aaaa99;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #aaaa99;
  padding: 8px;
  margin: 8px;
}

.outline-Debug {
  border: 2px solid #aaaa99;
}

.warning-Popup {
  border: 2px solid #aaaa99;
  background-color: #f7f2d0;		
}


.ks-popups-Popup {
  background-color: white;
  border: 2px solid #aaaa99;
  padding: 4px;
}

.editable-Surface {
  background-color: #f7f2d0;
  border: 1px solid #aaaa99;
//  padding: 4px;
}

.package-Editor {
  background-color: #f7f2d0;
  border: 1px solid #aaaa99;
//  padding: 4px;
}

.metadata-Widget {
  font-size:smaller;color:#666;  
}

.rule-error-Popup {
  background-color: white;
  border: 2px solid black;
  padding: 4px;
  font-style: bold !important;
  font-color: black !important;
}

.loading-Popup {
  background-color: white;
  border: 2px solid #aaaa99;
  padding: 4px;
  font-color: white !important;
}

.welcome-Page {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ccc;
}

.category-explorer-Tree {
  width: 100%;
}

.rule-warning-Popup {
  background-color: yellow;
  border: 1px solid #aaaa99;
  padding: 4px;
}

.rule-breditor-Table {
  background-color: #f7f2d0;
  border: 1px solid #aaaa99;
  padding: 4px;
}

.new-asset-Icons  {
  border: 1px solid #aaaa99;
  background-color: #f7f2d0;
}

.version-browser-Border {
  border: 1px solid #aaaa99;
}

.dt-editor-Grid {
  background-color: #f7f2d0;
  border: 1px solid #aaaa99;  
  border-spacing: 0px;
  border-collapse: collapse
}

.dt-editor-Cell {
  background-color: white;
  border: 1px solid #aaaa99; 
  font-size: smaller;
  padding: 2px;
}

.dt-editor-Toolbar {
  background-color: white;
  border: 1px solid #aaaa99; 
  padding: 2px;
}

.dt-editor-Cell-selected {
  background-color: white;
  border: 2px solid #aaaa99; 
  font-size: smaller;
  padding: 0px;
}

.dt-editor-DescriptionCell {
  background-color: #f7f2d0;
  font-size: smaller;
  padding: 3px;
}

.dt-editor-DescriptionCell-selected {
  background-color: #aaaa99;
  color : #FFFFFF;
  font-size: smaller;
  padding: 3px;
}

.dt-editor-CountColumn {
  background-color: #f7f2d0;
  font-size: smaller;
  padding: 3px;
}
.dt-editor-CountColumn-selected {
  background-color: #aaaa99;
  color : #FFFFFF;
  font-size: smaller;
  padding: 3px;
}

.dt-editor-Title {
  font-size: larger;
}


.dsl-text-Editor {
}

.dt-field-TextBox {
  border: none;
  padding: 0px;	
  width: 100%;
}

.rule-viewer-Documentation {
  background-color: #f7f2d0;
  font-family: Arial, sans-serif;
  font-size: smaller;
  border: 1px solid #aaaa99;
  width: 100%;
}

/* And the rule list stuff */

.rule-ListHeader {
	background-color: #f6f6f6; color:#666;
	 padding-left:1em !important;font-weight:bold; height:2em;
}

.rule-SelectedRow {
	background-image: url(images/gray_gradient.gif);
	background-repeat: repeat-x;
}

.rule-ListEvenRow {
	background-color: #f7f2d0;
}

body{margin:0em; padding:0em; font-family: "bitstream vera sans", "dejavu sans" verdana, helvetica, sans-serif; line-height: 1.5em;background-color:white;}

.rule-List {
	border: 1px solid #aaaa99;
	background-color: white;
        font-family: Arial, sans-serif;
        font-size: smaller;
	/*cursor: pointer;*/
	cursor: hand;
        border-spacing: 0px;
        border-collapse: collapse
}

/* end the rule list stuff */

.resource-name-Label {	
 	font-weight: bold;
}

.infoProse {
  margin: 8px;
}


.DatePicker {
  border: 1px solid #aaaa99;
}

.DatePicker .navbar {
  width: 100%;
  background-color: #f7f2d0;
  vertical-align: middle;
  border-bottom: 1px solid #aaaa99;
}

.DatePicker .navbar .gwt-Button {
  padding-left: 5px;
  padding-right: 5px;
}

.DatePicker .table {
  text-align: center;
}

.DatePicker .weekheader {
  background-color: #f7f2d0;
}

.DatePicker .weekheader .days {
  width: 3em;
}

.DatePicker .cell {
  cursor:pointer;
}

.DatePicker .cell .gwt-HTML {
  border: 1px solid #aaaa99;
}
button{border:1px solid #ccc; margin-right:1px; background-color:#fff;border-bottom:1px solid #aaa; border-top-color:#ddd} 
button:active, button:focus{background-color:#999; color:white; border: 1px solid #444;}

.DatePicker .cell .gwt-HTML span {
  width: 100%;
  height: 100%;
  line-height: 2em;
}
textarea{background-color:white !important; padding:.3em; color:#666;border:1px solid #ccc !important; background-color:#fefefe !important;}

textarea:focus, textarea:active{color:black; border-color:black !important; background-color:#fff !important;}
.model-builder-Background{ padding-left:.5em;border: 1px solid #ddd; background-color:white;}

.DatePicker .today .gwt-HTML {
  background-color: white;
}

.DatePicker .day .gwt-HTML {
  border: 1px solid #aaaa99;
} 

.sinkitem{color:white;}

.image-Button{ cursor:pointer !important; }

body{color:#444;}

.gwt-TreeItem{width:100%; cursor:pointer; display:block !important; padding:0em; margin:0em; line-height:em}
