body {
	font-size:smaller;
	font-family:"bitstream vera sans","dejavu sans" verdana,helvetica,sans-serif;
	line-height:1.5em;
	color:#444;
	margin:0;
	padding:0;
	background:#FFF;
}
code {
	font-size:small;
}
.headerBarGrey {
	height:70px;
	background:url(images/jbossrules_hdrbkg_grey.gif) repeat-x;
}
.headerBarBlue {
	height:50px;
	background:url(images/jbossrules_hdrbkg_blue.gif) repeat-x;
}

.testSuccessBackground {background: green;}
.testFailureBackground {background: red;}
.testBar {
	border-spacing:0;
	border-collapse:collapse;
	padding:0;
}
.successBar {border: 1px; solid #aa9; }

.gwt-DialogBox {
	sborder:8px solid #aa9;
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.gwt-DialogBox .Caption {
	font-weight:700;
	cursor:default;
	font-size:smaller;
	margin:2px;
	padding:3px;
	background:#FFFFF0;
}
.gwt-HorizontalSplitter .Bar {
	width:8px;
	background:#aa9;
}
.gwt-VerticalSplitter .Bar {
	height:8px;
	background:#aa9;
}
select {
	border:1px solid #ccc;
	color:#666;
	border-color:#ccc!important;
	padding:0!important;
}
.gwt-MenuBar {
	border:1px solid #aa9;
	cursor:default;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#aa9;
}
.gwt-MenuBar .gwt-MenuItem {
	font-size:smaller;
	cursor:default;
	padding:1px 4px;
}
.model-builder-Background {
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	padding-left:.5em;
	border:1px solid #ddd;
	background:#FFF;
}
.model-builderInner-Background {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	-moz-border-radius:.7em;
	-khtml-border-radius:.7em;
	-webkit-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.model-builderInnerInner-Background {
	border-top:0 solid #ccc;
	border-bottom:0 solid #ccc;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.modeller-fact-pattern-Widget {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.modeller-composite-Label {
	font-style:italic;
}
.modeller-action-Label {
	font-style:italic;
	font-size:smaller;
}
.version-Popup {
	border:4px solid #red;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	margin:1em;
	padding:.5em;
	background:#FFF;
}
.version-Popup .Caption {
	font-color:#FFF;
	font-weight:bold;
	//background:#aa9;
}
.gwt-TabBar {
	font-size:smaller;
	background:#aa9;
}
.gwt-TabBar .gwt-TabBarFirst {
	width:0;
	margin:0;
	padding:0;
}
.gwt-TabBar .gwt-TabBarRest {
	border-bottom:1px solid #aa9;
	padding-right:3px;
}
.gwt-TabBar .gwt-TabBarItem {
	border:1px solid #aa9;
	cursor:pointer;
	color:#FFF;
	padding:.5em 1em;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	border-bottom:0 solid #aa9;
	cursor:url;
	border:0 transparent none;
	margin:0;
	padding:.5em 1em;
	background:#f6f6f6;
}
.gwt-TabBarItem-selected {
	color:#000!important;
}
.gwt-TextArea {
	border:1px solid #aa9;
	padding:0;
}
.weak-Text {
	font-size:smaller;
	color:#ccc;
}
.gwt-Tree .gwt-TreeItem-selected {
	background:#FF0;
}
.gwt-StackPanel .gwt-StackPanelItem {
	cursor:hand;
	background:#aa9;
}
.ks-Sink {
	border:4px solid #aa9;
	width:100%;
	height:24em;
	font-size:smaller;
	background:#f6f6f6;
}
.ks-Info {
	font-size:x-small!important;
	padding:10px 10px 2px;
	background:#aa9;
}
.ks-List {
	margin-bottom:8px;
	font-size:smaller;
}
.ks-List a:link,.ks-List a:visited {
	text-decoration:none;
	color:#555;
	font-weight:700;
	padding-left:.5em;
}
.ks-List .ks-SinkItem {
	width:100%;
	cursor:hand;
	padding:.3em 16px .3em .3em;
}
.ks-List .ks-SinkItem-selected {
	background:#aa9;
}
.warning-Popup {
	border:2px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFFFF0;
}
.ks-popups-Popup {
	border:6px solid #black;
	//#aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.5em;
	padding:4px;
	background:#FFF;
}
.quick-find {
	border:1px solid #aa9;
	width:100%;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.decision-Table-upload {
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.metadata-Widget {
	font-size:smaller;
	color:#666;
}
.rule-error-Popup {
	border:2px solid #000;
	font-style:bold!important;
	font-color:#000!important;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	padding:4px;
	background:#FFF;
}
.loading-Popup {
	border:2px solid #aa9;
	font-color:#FFF!important;
	padding:4px;
	background:#FFF;
}
.build-Results {
	border:1px solid #666;
	font-size:small;
	border-collapse:collapse;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	border-style:inset;
	border-width:1px;
	background:#FFF;
}
.welcome-Page {
	width:100%;
	height:100%;
	border:none;
	background:#ccc;
}
.category-explorer-Tree {
	width:100%;
}
.rule-warning-Popup {
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	padding:4px;
	background:#FF0;
}
.rule-breditor-Table {
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	padding:4px;
	background:#FFFFF0;
}
.new-asset-Icons {
	border:1px solid #aa9;
	border-radius:.7em;
	background:#FFFFF0;
	width: 100%;
}
.version-browser-Border {
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	font-size:smaller;
}
.dt-editor-Grid {
	border:1px solid #aa9;
	border-spacing:0;
	border-collapse:collapse;
	background:#FFFFF0;
}
.dt-editor-Cell {
	border:1px solid #aa9;
	font-size:smaller;
	padding:2px;
	background:#FFF;
}
.dt-editor-Toolbar {
	border:1px solid #aa9;
	padding:2px;
	background:#FFF;
}
.dt-editor-Cell-selected {
	border:2px solid #aa9;
	font-size:smaller;
	padding:0;
	background:#FFF;
}
.dt-editor-Title {
	font-size:larger;
}
.dt-field-TextBox {
	border:none;
	width:100%;
	padding:0;
}
.rule-ListHeader {
	color:#666;
	padding-left:1em!important;
	font-weight:700;
	height:2em;
	background:#f6f6f6;
}
.rule-SelectedRow {
	background:url(images/gray_gradient.gif) repeat-x;
}
.rule-List {
	border:1px solid #aa9;
	font-family:Arial,sans-serif;
	font-size:smaller;
	cursor:hand;
	border-spacing:0;
	border-collapse:collapse;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFF;
}
.login-Form {
	border:1px solid #aa9;
	background:#f6f6f6;
}
.resource-name-Label {
	font-weight:700;
}
.infoProse {
	margin:8px;
}
.DatePicker .navbar {
	width:100%;
	vertical-align:middle;
	border-bottom:1px solid #aa9;
	background:#FFFFF0;
}
.DatePicker .navbar .gwt-Button {
	padding-left:5px;
	padding-right:5px;
}
.DatePicker .table {
	text-align:center;
}
.DatePicker .weekheader .days {
	width:3em;
}
.DatePicker .cell {
	cursor:pointer;
}
button {
	border:1px solid #ccc;
	margin-right:1px;
	border-bottom:1px solid #aaa;
	border-top-color:#ddd;
	background:#fff;
}
button:active,button:focus {
	color:#FFF;
	border:1px solid #444;
	background:#999;
}
.DatePicker .cell .gwt-HTML span {
	width:100%;
	height:100%;
	line-height:2em;
}
textarea {
	color:#666;
	border:1px solid #ccc!important;
	padding:.3em;
	background:#fefefe !important;
}
textarea:focus,textarea:active {
	color:#000;
	border-color:#000!important;
	background:#fff !important;
}
.DatePicker .today .gwt-HTML {
	background:#FFF;
}
.image-Button {
	cursor:pointer!important;
}
.gwt-TreeItem {
	width:100%;
	cursor:pointer;
	display:block!important;
	line-height:em;
	margin:0;
	padding:0;
}
#user_info {
	position:absolute;
	right:1em;
	top:0;
	color:#fff;
	font-size:.9em;
}
#user_info a {
	color:#fff;
}
a,a:visited {
	color:#00008B;
}
.gwt-CheckBox,.gwt-HTML,.gwt-Label,.gwt-RadioButton,.gwt-Tree .gwt-TreeItem,.small-Text,.global-Font {
	font-size:smaller;
}
select:focus,input:focus,input:active,.constraint-value-Editor:focus,.constraint-value-Editor:active {
	color:#000;
	border-color:#000!important;
}
.gwt-MenuBar .gwt-MenuItem-selected,.modeller-fact-TypeHeader {
	background:#f6f6f6;
}
input,.constraint-value-Editor {
	border:1px solid #aa9;
	color:#666;
	border-color:#ccc!important;
	padding:2px!important;
}
.ks-info,.ks-List .ks-SinkItem-selected a,.sinkitem {
	color:#FFF;
}
.editable-Surface,.package-Editor {
	border:1px solid #aa9;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#white;
}
.dt-editor-DescriptionCell,.dt-editor-CountColumn {
	font-size:smaller;
	padding:3px;
	background:#FFFFF0;
}
.dt-editor-DescriptionCell-selected,.dt-editor-CountColumn-selected {
	color:#FFF;
	font-size:smaller;
	padding:3px;
	background:#aa9;
}
.rule-viewer-Documentation,.dsl-text-Editor,.default-text-Area {
	font-family:Arial,sans-serif;
	font-size:smaller;
	border:1px solid #aa9;
	width:100%;
	-moz-border-radius:.7em;
	-webkit-border-radius:.7em;
	-khtml-border-radius:.7em;
	border-radius:.7em;
	background:#FFFFF0;
}
.rule-ListEvenRow,.DatePicker .weekheader {
	background:#FFFFF0;
}
.DatePicker,.DatePicker .cell .gwt-HTML,.DatePicker .day .gwt-HTML {
	border: 1px solid #aa9;
}