.container {
    background-color: #E6F1F6;
    padding-top: 8px;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.navigator {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    border-right: none;
}

.navigator td {
    background: #f8f8f8;
    color: #484848;
    border-bottom: 1px solid #eee;
    padding: 7px 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.navigator td:first-child {
    border-left: 0;
}

.navigator-folder-icon {
    width: 17px;
    color: #0088CC;
    padding-right: 2px;
    padding-left: 10px;
}

.navigator-file-icon {
    width: 17px;
    color: #484848;
    padding-right: 2px;
    padding-left: 10px;
}

.navigator-message {
    max-width: 420px;
}

.message {
    color: rgb(51, 51, 51);
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: 19px;
}

.date {
    color: rgb(136, 136, 136);
}

.author {
    color: rgb(68, 68, 68);
}

.breadcrumb-2nd-level {
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #F0F0F0;
    border: 1px solid #E6E6E6;
}

.breadcrumb {
    list-style: none;
    margin-left: 16px;
}

.breadcrumb-header {
    font-size: 16px;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

@external .divider;
.breadcrumb .divider {
    padding: 0 7px;
    color: #ccc;
}

.repo-name {
    font-weight: bold;
    font-style: italic;
}

.directory-name {
    font-weight: bold;
}

.tree-nav {
    padding: 10px 15px 15px 15px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
}
